body {
    background: aquamarine;
    font-family: sans-serif;
    max-width: 960px;
    margin: 10 auto;
    /* margen arriba y abajo de la página */
}

header {
    background-color: blue;
    font-family: sans-serif;
    color: aquamarine;
    border-radius: 50px 0 50px 0;
    text-align: center;
}

nav {

    background: beige;
    border-radius: 5px;
    width: 500px;
    text-align: center;
}

li {
    list-style-type: none;
    margin: 5px;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

ul img {
    width: 800px;
}

p.sobremi {
    text-align: justify;
}